<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>Alterier Romero</title>
    <meta name="description" content="Serwis restauracji Alterier Romero">
    <meta name="author" content="Bartosz Bartosik">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{../../styles/basicStyle.css}">
</head>

<body>
<div class="container">
    <header>
        <hr>
        <h1>
            Alterier Romero
        </h1>
        <hr>
    </header>
    <main style="height: 670px;">
        <nav class="nav nav-pills nav-justified">
            <a class="nav-item nav-link" th:href="@{/}">Strona główna</a>
            <a class="nav-item nav-link" th:href="@{/about}">O nas</a>
            <a class="nav-item nav-link" th:href="@{/reservation/map}">Rezerwacja</a>
            <a class="nav-item nav-link" th:href="@{/regulations}">Regulamin</a>
            <a class="nav-item nav-link" th:href="@{/contact}">Kontakt</a>
        </nav>
        <h2 class="display-4" style="font-size: 45px;">Rezerwacja stolika</h2>
        <div id="reservationForm">
            <form action="#" th:object="${order}" th:action="@{/reservation/reserve}">
                <div th:if="${error}" class="alert alert-danger" role="alert">
                    Nieprawidłowe dane. Upewnij się, że pola zgadzają się ze wskazówkami w polach.
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Imie i nazwisko</label>
                        <input required th:field="*{clientName}" type="text" class="form-control" placeholder="'Imię'  'Nazwisko'">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input required th:field="*{email}" type="email" class="form-control" id="inputEmail4" placeholder="np. alerier@gmail.com">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Adres</label>
                    <input required th:field="*{address}" type="text" class="form-control" id="inputAddress" placeholder="'Nazwa ulicy'  'numer domu, mieszkania'">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">Miasto</label>
                        <input required th:field="*{city}" type="text" class="form-control" id="inputCity" placeholder="Nazwa miasta">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Kod pocztowy</label>
                        <input required th:field="*{zipCode}" type="text" class="form-control" id="inputZip" placeholder="np. 42-244">
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Ilość osób</label>
                    <select required th:field="*{numberOfPeople}" class="form-control" id="exampleFormControlSelect1">
                        <th:block th:each="i : ${#numbers.sequence(0, order.table.capacity-1)}">
                            <option th:text="${i+1}" th:value="${i+1}"/>
                        </th:block>
                    </select>
                </div>
                <div class="form-check">
                    <input required class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Akceptuję <a th:href="@{/regulations}">regulamin</a>
                    </label>
                </div>
                <input type="hidden" th:field="*{table}">
                <p th:text="*{table.description}"/>
                <button type="submit" class="btn btn-primary">Rezerwuj</button>
            </form>
        </div>
    </main>
</div>
</body>

</html>