body {
    background-image: url("../img/background.png");
    background-attachment: fixed;
    background-size: 100%;
    width: 100%;
    height: 100%; 
}
header {
    font-family: "Courier New", Courier, monospace;
    font-size: 45px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: underline solid rgb(68, 68, 68);
    text-transform: uppercase;
    text-align: center;
    align: center;
}
h2 {
    text-align: center;
}
main {
    background-color: #FFF8DC;
    width: 80%;
    height: 100%;
    align: center;
    margin: auto;
    border-radius: 10px;
}
nav a:hover {
    background-color: #6dbfa2;
    color: white;
    display: block;
}
article {
    margin-top: 20px;
}
p {
    margin-top: 20px;
    font-family: Gill Sans, sans-serif;
    text-align: center;
}
ol {
    font-style: italic;
}
ol li {
    text-align: justify;
    width: 90%;
    font-weight:bold;
}
li > * {
    font-weight:normal;
    text-align: justify;
}
.justified {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}
#reservaionMap {
    text-align: center;
    margin: auto;
}
#notAvailableTable {
    color: red;
    font-size: 20px;
}
